-- Eliminar políticas que causan recursión infinita y crear nuevas
DROP POLICY IF EXISTS admin_director_view_all_users ON profiles;
DROP POLICY IF EXISTS admin_director_insert_users ON profiles;
DROP POLICY IF EXISTS admin_director_update_users ON profiles;

-- Policy simple: Todos pueden ver su propio perfil
CREATE POLICY profiles_select_own
ON profiles FOR SELECT
TO authenticated
USING (id = auth.uid());

-- Policy: Admin puede ver todos los perfiles (sin recursión)
CREATE POLICY profiles_select_admin
ON profiles FOR SELECT
TO authenticated
USING (
  (SELECT role FROM profiles WHERE id = auth.uid()) IN ('admin', 'director')
);

-- Policy: Admin puede insertar perfiles
CREATE POLICY profiles_insert_admin
ON profiles FOR INSERT
TO authenticated
WITH CHECK (
  (SELECT role FROM profiles WHERE id = auth.uid()) IN ('admin', 'director')
);

-- Policy: Admin puede actualizar perfiles
CREATE POLICY profiles_update_admin
ON profiles FOR UPDATE
TO authenticated
USING (
  (SELECT role FROM profiles WHERE id = auth.uid()) IN ('admin', 'director')
)
WITH CHECK (
  (SELECT role FROM profiles WHERE id = auth.uid()) IN ('admin', 'director')
);
